<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head') %>
    <!-- head -->

    <body>
        <!-- header -->
        <%- include('../partials/header') %>
            <!-- header -->

            <main>
                <div class="section-tittle">
                    <h2>Editar Producto</h2>                                     
                </div>
                <%- include('../partials/formProduct', { method:"POST", path:`/products/${product.id}?_method=PUT`, product}) %>
            </main>
            <!-- footer -->
            <%- include('../partials/footer') %>
                <!-- footer -->

                <script type="text/javascript" src="/js/createProduct.js"></script>
    </body>

</html>