<footer>
    <div class="subscribe">
      <p>¡No te pierdas nuestras novedades y ofertas!</p>
      <div class="login-bar">
        <input type="email" placeholder="Ingresá tu correo electrónico" />
      </div>
      <button type="submit" class="button-subscribe">Suscribirme</button>
    </div>
    <div>
      <div class="footer-info">
        <section>
          <i class="fa-solid fa-store"></i>
          <h6>Sobre nosotros</h6>
          <p>COSMICA SA</p>
          <p>P. Sherman Calle Wallaby 42, Sidney</p>
        </section>
        <section>
          <i class="fa-solid fa-truck"></i>
          <h6>Envíos gratis desde $100</h6>
          <p>Envíos a todo el país con una compra minima de $100</p>
        </section>
        <section>
          <i class="fa-solid fa-credit-card"></i>
          <h6>12 cuotas sin interés</h6>
          <p>Con todas las tarjetas bancarizadas</p>
        </section>
      </div>
      <div class="social">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-whatsapp"></i>
      </div>
    </div>
  </footer>