<header>
    <div class="header-top">
      <p>10% off en tu primera compra</p>
    </div>
    <div class="main-bar">
      <div class="menu-logo">
        <a href="/products" class="bars"><i class="fa-solid fa-bars"></i></a>
        <a href="/">
          <img class="logo" src="/img/cosmica_logo_almostblack.png" alt="logo" />
        </a>
      </div>
      
      
      <div class="icons-log-reg">
        <div class="nav-bar">
          <div class="search-input">
            <form action="/products/search" method="POST">
            
            <input type="text" placeholder="Buscar..." name="search" />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass icon"></i>
            </button>
          </form>
          </div>
        </div>
        <!-- <a><i class="fa-solid fa-magnifying-glass"></i></a> -->
        <% if (locals.isLogged) { %>
          <a href="/users/profile"><img src="/img/users/<%= locals.userLogged.image %>" width="30px" style="border-radius: 100%;"></a>
        <% } else { %>
        <a href="/users/login"><i class="fa-solid fa-circle-user"></i></a>
        <% } %>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </div>
</header>